@import url('https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&family=Lexend:wght@100..900&family=Poiret+One&display=swap');

*{
    box-sizing: border-box;
}
body{
    font-family: "Lexend", sans-serif;
    margin: 0;
}

a{
    display: inline-block;
    color: #000;
    text-decoration: none;
    padding: 1rem;
}

img{
    width: 100%;
}

#global-header{
    display: flex;
    flex-direction: column;

    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-shadow: 0px 4px 9px #c4c4c4;
        padding: 1rem;
    }
}


#hero{
    min-height: 300px;
    display: flex;
    align-items: start;
    flex-direction: column;
    padding: 1rem;
    justify-content: center;
    background-color: #f6f6f6;
}

.highlight{
    padding: 0rem;
    display: flex;
    flex-wrap: wrap;
    >*{
        width: 50%;
        min-width: 350px;
        flex-grow: 1;
    }
    
    figure{
        margin: 0;
        img{
            height: 100%;
        }
    }

    section{
        padding: 1rem;
        display: flex;
        flex-wrap: wrap;
        align-content: center;
    }
}

.highlight:nth-child(even){
    flex-direction: row-reverse;
}

#services{
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
    justify-content: center;
    background-color: #f6f6f6;

    h2{
        width: 100%;
      
    }

    .service-card{
        width: 33%;
        display: flex;
        gap: 1rem;
        align-items: center;
        justify-content: center;
        min-width: 250px;
        flex-grow: 1;
        /*max-width: 400px;*/

        i{
            min-width: 50px;
            min-height: 50px;
            padding: 0.5rem;
            border-radius: 100%;
            border: 1px solid #000;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}

.btn{
    background-color: #000;
    padding: 1rem;
    border-radius: 10px;
    color: #fff;
}

.hidden{
    display: none;
    
}

#menu{
    list-style: none;
    margin: 0;

    li:first-child{
        position: absolute;
        top: 20px;
        right: 20px;

    }
}

#close{
    background: transparent;
    border: none;
    font-size: 20px;
    font-weight: 600;
}

.icon-btn{
    background-color: transparent;
    border: none;

    i{
        font-size: 18px;
    }
}


@media only screen and (min-width:789px){

    #services{
        h2{
            text-align: center;
        }
    }
    .service-card{
        max-width: 450px;
        flex-direction: column;
        text-align: center;
    }
}

@media only screen and (max-width:600px){
    
    /* Menyen vises som "overlay" øverst på hele skjermen */
    #menu {
        background-color: antiquewhite; /* Egen bakgrunn */
        position: absolute;             /* Plasseres over annet innhold */
        width: 100%;                    /* Full bredde */
        top: 0;                         /* Starter helt øverst */
        left: 0;                        /* Starter helt til venstre */
        padding: 2rem;                  /* Luft rundt innholdet */
      }

}



p::sel{
    background-color: #fa8b15;
}


@media only screen and (min-width:600px){

    /* Header får flex for å plassere innholdet på hver side */
    header{
        display: flex;
        justify-content: space-between; /* Plasserer elementene venstre/høyre */
    }

    /* Når skjermen er bred nok, skal .hidden-elementer vises igjen */
    .hidden{
        display: inline-block;
    }

    .btn:hover{
        background-color: #fa8b15;
        color: #000;

    }

    /* Menyen tilpasset desktop: liste horisontalt */
    #menu{
     
            display: flex; /* Viser menyvalg på linje */
            gap: 1rem;     /* Avstand mellom menyvalg */

            li a:hover{
                text-decoration: underline;
            }
 
    }

    /* Hamburger-knappen skjules på større skjermer */
    #ham{
        display: none;
    }

    #close{
        display: none;
    }

    .group{
        display: none;
    }

}